@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF-Pro';
  src: local('SF-Pro-Rounded'), url(./assets/fonts/SF-Pro-Rounded-Regular.otf) format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro';
  src: local('SF-Pro-Rounded'), url(./assets/fonts/SF-Pro-Rounded-Medium.otf) format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro';
  src: local('SF-Pro-Rounded'), url(./assets/fonts/SF-Pro-Rounded-Semibold.otf) format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro';
  src: local('SF-Pro-Rounded'), url(./assets/fonts/SF-Pro-Rounded-Bold.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./assets/fonts/Nunito-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./assets/fonts/Nunito-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  font-family: 'SF-Pro', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  font-weight: 400;

  color: #000;
  background-color: #EFEFF1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

button {
  font-family: inherit;
  cursor: pointer;
}
